body {
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #832B00;
    padding: 10px;
    text-align: center;
}
.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
}
.navbar a:hover {
    background-color: #4CAF50;
}

footer {
    background-color: #832B00;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}